* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu'; }

body {
  overflow: hidden;
  background-color: #f9f9f9; }

.contacts-page__header {
  display: flex;
  width: 100%;
  height: 7vh;
  background-color: #f9f9f9; }

.contacts-search-box__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 20px 20px 25px 25px;
  background-color: #f1f1f1;
  border-radius: 0 10px 10px 0; }

.contacts-search-box__image {
  height: 50%; }
  .contacts-search-box__image--bigger {
    height: 65%; }

.contacts-search-box__input-field {
  border: none;
  background-color: transparent;
  width: 80%;
  height: 80%;
  outline: none;
  font-size: 2.4rem; }
  .contacts-search-box__input-field::placeholder {
    color: lightgray; }

.contacts-header__add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16%;
  padding-left: 4%; }

.contacts-header__add-image {
  width: 40%;
  fill: #728df8; }

.contacts-page {
  overflow-y: scroll;
  height: 84vh;
  width: 93%;
  background-color: #f9f9f9; }

.contacts-page__wrapper {
  display: flex;
  width: 100%; }

.main-page__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%; }

.people-list {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  padding-left: 5px;
  z-index: 1; }

.person-line {
  width: 93%;
  border-bottom: 2px solid #e0e0e0;
  height: 20px; }
  .person-line__wrapper {
    display: flex;
    width: 100%;
    height: 40px; }
  .person-line__letter {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    color: #728df8;
    width: 7%;
    text-transform: capitalize; }

.letter-list {
  display: flex;
  flex-direction: column;
  width: 7%;
  padding-top: 5%;
  background-color: #f9f9f9;
  align-items: center;
  font-size: 2rem;
  font-weight: bold; }
  .letter-list__letter {
    margin-bottom: 13%;
    color: #728df8;
    text-transform: capitalize;
    text-decoration: none; }
    .letter-list__letter--faded {
      color: #051966; }

.person-block {
  display: flex;
  align-items: center;
  height: 175px;
  width: 92%;
  padding: 20px 0 20px 20px;
  margin-left: 50px;
  border-top: 2px solid #e0e0e0; }
  .person-block--no-border {
    border: none; }

.person__image {
  height: 100%;
  border-radius: 5px; }

.person__info-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 30px; }

.person__name {
  font-size: 2.3rem;
  margin-bottom: 13px;
  text-transform: capitalize; }

.person__phone-number {
  color: #868686;
  font-size: 2.1rem; }

.detail-page {
  height: 91%;
  width: 100%;
  background-color: #f9f9f9;
  z-index: 2;
  position: absolute;
  top: 0;
  left: -150%;
  transition: all 0.1s ease;
  box-shadow: 10px 10px 100px rgba(198, 198, 198, 0.5);
  font-size: 3rem; }

.detail__button-header {
  position: absolute;
  top: 0;
  right: 50px;
  width: 16%;
  height: 46%;
  border-radius: 0 0 10px 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 2px;
  background-image: linear-gradient(#8aa1f9, #5a79f7); }

.detail-button-header__image-box {
  display: flex;
  align-items: center;
  justify-content: center; }
  .detail-button-header__image-box--border-bottom {
    border-bottom: 2px solid #a3b4fa; }

.detail-button-header__image {
  width: 35%; }
  .detail-button-header__image--small {
    width: 30%; }

.detail__return-button {
  position: absolute;
  margin-left: 7.5%;
  margin-top: 7.5%;
  transform: rotate(180deg);
  width: 5%;
  height: 5%;
  filter: drop-shadow(-3px -3px 5px #474747); }
  .detail__return-button--color {
    fill: #f9f9f9;
    stroke: #f9f9f9;
    stroke-width: 1.5; }

.detail__image {
  width: 100%;
  height: 35%;
  background-size: cover;
  background-position: center; }

.detail__header {
  text-transform: capitalize;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5% 7%;
  background-color: #ececec; }

.detail__name {
  font-size: 3.8rem;
  margin-bottom: 15px; }

.detail__function {
  font-size: 2.5rem;
  color: #a0a0a0; }

.detail__phone-block, .detail__mail-block {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3% 5% 0 5%; }

.detail__mail-block {
  padding-top: 0;
  height: 20%; }

.detail-mobile-phone__header, .detail-work-phone__header, .detail-personal-mail__header, .detail-work-mail__header {
  display: flex;
  justify-content: space-between; }

.detail-mobile-phone__block, .detail-work-phone__block, .detail-personal-mail__block, .detail-work-mail__block {
  display: flex;
  align-content: center; }

.detail-mobile-phone__info, .detail-work-phone__info, .detail-personal-mail__info, .detail-work-mail__info {
  padding: 0 7.5% 0 4%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.detail-mobile-phone__label, .detail-work-phone__label, .detail-personal-mail__label, .detail-work-mail__label {
  font-size: 2.2rem;
  margin-top: 10px;
  color: #868686; }

.detail-work-phone__info {
  border-bottom: 5px solid #e0e0e0;
  justify-self: flex-end;
  padding-bottom: 7%;
  padding-left: 9%; }

.detail-personal-mail__info {
  padding-left: 9%; }

.detail-phone__icon {
  height: 50px;
  width: 5%; }

.detail-mobile-phone__chat-icon, .detail-work-phone__chat-icon, .detail-mail__icon {
  height: 50px; }

.detail-mobile-phone__chat-icon, .detail-work-phone__chat-icon {
  fill: #728df8; }

.page_footer {
  z-index: 3;
  width: 80%;
  height: 9%;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 30px #adadad;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%; }

.footer__link {
  outline: none;
  border-radius: 50%;
  height: 40%;
  padding: 2%; }

.footer__image {
  height: 100%; }
  .footer__image--selected {
    fill: #728df8; }

.hidden {
  display: none; }
