.contacts-page {
	overflow-y: scroll;
	height: 82vh;
	width: 93%;
	background-color: $defaultBackground;
}

.contacts-page__wrapper {
	display: flex;
	width: 100%;
}

.main-page__wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.people-list {
	display: flex;
	flex-direction: column;
	padding-top: 5%;
	padding-left: 5px;
	z-index: 1;
}

.person-line {
	width: 93%;
	border-bottom: 2px solid darken($defaultBackground, 10);
	height: 20px;

	&__wrapper {
		display: flex;
		width: 100%;
		height: 40px;
	}

	&__letter{
		display: flex;
		justify-content: center;
		font-size: 2.5rem;
		color: $mainColor;
		width: 7%;
		text-transform: capitalize;
	}
}

.letter-list {
	display: flex;
	flex-direction: column;
	width: 7%;
	padding-top: 5%;
	background-color: $defaultBackground;
	align-items: center;
	font-size: 2rem;
	font-weight: bold;

	&__letter {
		margin-bottom: 13%;
		color: $mainColor;
		text-transform: capitalize;
		text-decoration: none;

		&--faded {
			color: darken($mainColor, 50);
		}
	}
}
