.page_footer {
	z-index: 3;
	width: 80%;
	height: 9%;
	position: fixed;
	bottom: 0;
	left: 0;
	box-shadow: 0 0 30px darken($defaultBackground, 30);
	background-color: lighten($defaultBackground, 10);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10%;
}

.footer {

	&__link {
		outline: none;
		border-radius: 50%;
		height: 40%;
		padding: 2%;

		&:target {
			.footer__image {
				filter: drop-shadow(0 0 10px darken($mainColor, 70));
			}
		}
	}
	
	&__image {
		height: 100%;
	}
}
