.contacts-page__header {
	display: flex;
	width: 100%;
	height: 7vh;
	background-color: $defaultBackground;
}

.contacts-search-box {

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 80%;
		padding: 20px 20px 25px 25px;
		background-color: darken($defaultBackground, 3);
		border-radius: 0 10px 10px 0;
	}

	&__image {
		height: 50%;

		&--bigger {
			height: 65%;
		}
	}

	&__input-field {
		border: none;
		background-color: transparent;
		width: 80%;
		height: 80%;
		outline: none;
		font-size: 2.4rem;
		
		&::placeholder {
			color: darken($defaultBackground, 15);
		}
	}
}

.contacts-header {

	&__add-button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 16%;
		padding-left: 4%;
	}

	&__add-image {
		width: 40%;
		fill: $mainColor;
	}
}
