.person {

	&-block {
		display: flex;
		align-items: center;
		height: 175px;
		width: 90%;
		padding: 20px 20px;
		margin-left: 50px;
		border-top: 2px solid darken($defaultBackground, 10);

		&--no-border {
			border: none;
		}
	}

	&__image {
		height: 100%;
		border-radius: 5px;
	}

	&__info-block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		padding-left: 30px;
	}

	&__name {
		font-size: 2.3rem;
		margin-bottom: 13px;
		text-transform: capitalize;
	}

	&__phone-number {
		color: darken($defaultBackground, 45);
		font-size: 2.1rem;
	}
}